{% extends "layout/layout.html" %}
{% block title %}Employee List{% endblock %}
{% block current %}Employee List{% endblock %}
{% block content %}
      <!-- content Start -->
  <div class="container-fluid py-5">
    <div class="container">
      <a href="/add_emp" class="nav-item nav-link">Add Emp</a>

      <table class="table align-middle mb-0 bg-white">
        <thead class="bg-light">
          <tr>
            <th>Name</th>
            <th>Gender</th>
            <th>Position</th>
            <th>Phone Number</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for employee in employees %}

          <tr>
            <td>
              <div class="d-flex align-items-center">
                <img src={{"https://assignmenttesting.s3.amazonaws.com/"+ employee.s3_photo_key}} alt="" style="width: 45px; height: 45px"
                  class="rounded-circle" />
                <div class="ms-3">
                  <p class="fw-bold mb-1">{{employee.first_name +  " " + employee.last_name }}</p>
                  <p class="text-muted mb-0">{{employee.email}}</p>
                </div>
              </div>
            </td>
            <td>
              <p class="fw-normal mb-1">{{employee.gender}}</p>
            </td>
            <td>
              <p class="fw-normal mb-1">{{employee.position}}</p>
            </td>
            <!-- <td>
              <span class="badge badge-success rounded-pill d-inline">Active</span>
            </td> -->
            <td>{{employee.phone}}</td>
            <td>
              <a href={{"/edit_emp/" + employee.emp_id|string}}>Edit</a>
              <a href={{"/delete_emp/" + employee.emp_id|string}}>Delete</a>
              <!-- <button type="button" class="btn btn-link btn-sm btn-rounded">
                Edit
              </button> -->
            </td>
          </tr>
          {% endfor %}

        </tbody>
      </table>

    </div>
  </div>
  <!-- content End -->
{% endblock %}
